@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    transition: all 200ms linear;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #323232;
}

.header-animation {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s forwards; /* Change duration as needed */
  }
  
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }